* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #040015;
    --accent-color: #6ea8fe;

    --white: #ffffff;
    --text-color: #bbbbbb;
}

body {
    background-color: var(--background-color);
}

body svg {
    fill: var(--text-color);
}

section {
    max-width: 1300px;
    padding: 25px;
    margin: 0 auto;
}

/* .card {
    background-color: #8200ff;
    background: linear-gradient(#fff, #8200ff);
    background: rgb(130,0,255);
    background: linear-gradient(135deg, rgba(130,0,255,1) 0%, rgba(45,45,50,1) 0%);
} */